In [1]:
import pandas as pd

df = pd.read_csv("ipl_2025_cleaned.csv")
df.head()

         Date Team1 Team2    Venue Winner Win Margin                 Result
0  2025-03-22   CSK   RCB  Chennai    CSK  6 wickets   CSK won by 6 wickets
1  2025-03-23    MI    GT   Mumbai     GT     5 runs       GT won by 5 runs
2  2025-03-24   KKR  PBKS  Kolkata   PBKS  3 wickets  PBKS won by 3 wickets
3  2025-03-25    DC   SRH    Delhi     DC     8 runs       DC won by 8 runs
4  2025-03-26   LSG    RR  Lucknow     RR  4 wickets    RR won by 4 wickets

In [2]:
print("üìä Total matches played:", len(df))

üìä Total matches played: 10

In [3]:
# Count how many times each team won
top_winners = df['Winner'].value_counts()
print("üèÜ Most Winning Teams:\n", top_winners)

üèÜ Most Winning Teams:
 Winner
CSK     2
GT      2
DC      2
PBKS    1
RR      1
RCB     1
SRH     1
Name: count, dtype: int64

In [4]:
venue_wins = df.groupby('Venue')['Winner'].value_counts().unstack().fillna(0)
venue_wins

Winner      CSK   DC   GT  PBKS  RCB   RR  SRH
Venue
Ahmedabad   0.0  0.0  1.0   0.0  0.0  0.0  0.0
Bengaluru   0.0  0.0  0.0   0.0  1.0  0.0  0.0
Chandigarh  1.0  0.0  0.0   0.0  0.0  0.0  0.0
Chennai     1.0  0.0  0.0   0.0  0.0  0.0  0.0
Delhi       0.0  1.0  0.0   0.0  0.0  0.0  0.0
Hyderabad   0.0  0.0  0.0   0.0  0.0  0.0  1.0
Kolkata     0.0  0.0  0.0   1.0  0.0  0.0  0.0
Lucknow     0.0  1.0  0.0   0.0  0.0  1.0  0.0
Mumbai      0.0  0.0  1.0   0.0  0.0  0.0  0.0

In [5]:
df['Margin Type'] = df['Win Margin'].apply(lambda x: 'Runs' if 'runs' in x else 'Wickets')
df['Margin Number'] = df['Win Margin'].str.extract('(\d+)').astype(float)

# Average margin by type
df.groupby('Margin Type')['Margin Number'].mean()

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\shant\AppData\Local\Temp\ipykernel_4896\3855774747.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['Margin Number'] = df['Win Margin'].str.extract('(\d+)').astype(float)

Margin Type
Runs       11.250000
Wickets     4.666667
Name: Margin Number, dtype: float64